body {
    background-image: url('https://assets.goal.com/images/v3/blt66a94a2dab47b56d/getty_arena_corinthians.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-size: cover;

}
* {
    font-family: "Permanent Marker", cursive;
}

h1 {
color:rgb(255, 255, 255)
}

p {
    color:rgb(255, 255, 255)
}
table {
border-collapse: collapse;
}

th {

    background-color: rgb(0, 0, 0);
}

th,
td {
border: 1px solid rgb(255, 255, 255);
text-align: left;
padding: 8px;
color: rgb(255, 255, 255);
}
a {
    color: rgb(255, 255, 255);
}